.lmd {
    font-size: 16px !important;
    color: black;
}

.lmd-icon {
    background-color: rgb(245, 245, 245);
    box-sizing: content-box;
    cursor: pointer;
    z-index: 999999;
    position: absolute;
    padding: 3px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    border-image: initial;
}

.lmd-icon:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    border: 1px solid rgb(198, 198, 198);
    border-image: initial;
}

.lmd-icon-img {
    /* Using a simplified background for the icon */
    background-image: url(//ssl.gstatic.com/dictionary/static/images/icon.png);
    background-size: 19px;
    height: 19px;
    width: 19px;
}

.lmd-bubble {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1201 !important;
    border-image: initial;
    border: 1px solid rgb(187, 187, 187);
    border-bottom-color: rgb(168, 168, 168);
    padding: 5px 16px 5px;
}

.lmd-audio-img {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACjSURBVDjLY2AYYmA1QwADI3FKy8HkfyA8zqBOjPL/YLqO4SWQ9YXBmbDy/1C2EMMGsBZNQsr/w/lMDCuAvKOElP+HeloQSPIxPAPynVAV/seAENHtYLoKyJpDnIb/DOZA2gBI3yRWQx6Q5gZ7nFYaQE4yJN5JW8B0PaanYaADRcMaBh5wsD7HDFZMLURGHEIL0UkDpoWExAfRQlLyJiMDDSAAALgghxq3YsGLAAAAAElFTkSuQmCC);
    background-size: 91%;
    height: 21px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
}

.lmd-ipa {
    display: inline;
    font-size: 18px;
    margin: 5px auto;
    padding: 5px 0;
}

.lmd-close-btn {
    height: 21px;
    opacity: 0.4;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 21px;
    background: url(//ssl.gstatic.com/ui/v1/icons/common/x_8px.png) no-repeat;
    border: 1px solid transparent;
    border-image: initial;
    outline: 0px;
}

.lmd-a {
    color: #A2A2A2;
    float: right;
    display: inline;
    font-size: 11px;
}

.lmd-a:hover {
    text-decoration: underline;
}

.lmd-bubble.lower-arrow:before{
    content: "";
    position: absolute;
    top: -29px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    z-index: 10;
}

.lmd-bubble.lower-arrow:after{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(168, 168, 168);
}

.lmd-bubble.lower-left-arrow:before{
    content: "";
    position: absolute;
    top: -29px;
    left: 3.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    z-index: 10;
}

.lmd-bubble.lower-left-arrow:after{
    content: "";
    position: absolute;
    top: -30px;
    left: 3.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(168, 168, 168);
}

.lmd-bubble.lower-right-arrow:before{
    content: "";
    position: absolute;
    top: -29px;
    left: 96.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    z-index: 10;
}

.lmd-bubble.lower-right-arrow:after{
    content: "";
    position: absolute;
    top: -30px;
    left: 96.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(168, 168, 168);
}

.lmd-bubble.upper-arrow:before{
    content: "";
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid white;
    z-index: 10;
}

.lmd-bubble.upper-arrow:after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid rgb(168, 168, 168);
}

.lmd-bubble.upper-left-arrow:before{
    content: "";
    position: absolute;
    bottom: -29px;
    left: 3.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid white;
    z-index: 10;
}

.lmd-bubble.upper-left-arrow:after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 3.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid rgb(168, 168, 168);
}

.lmd-bubble.upper-right-arrow:before{
    content: "";
    position: absolute;
    bottom: -29px;
    left: 96.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid white;
    z-index: 10;
}

.lmd-bubble.upper-right-arrow:after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 96.5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid rgb(168, 168, 168);
}